.avatar-img{
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.avatar-img-boxed{
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 3px !important;
}

.avatar-img-lg{
  height: 6.5rem;
  width: 6.5rem;
}

.avatar-img-md{
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-img-sm{
  height: 2.5rem;
  width: 2.5rem;
}