.drop-shadow{
  -webkit-box-shadow: 0 9px 30px 1px rgba(153,170,181,.3);
  box-shadow: 0 9px 30px 1px rgba(153,170,181,.3);
  transition: all .25s;
}

.drop-shadow:hover{
  -webkit-box-shadow: 0 9px 30px 1px rgba(153,170,181,.5);
  box-shadow: 0 9px 30px 1px rgba(153,170,181,.5);
  transition: all .25s;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

//.hoverable {
//  transition: box-shadow .25s;
//
//  &:hover {
//    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//  }
//}
